.wp-figure-test {
  padding: 10px;
  border-radius: 8px;
  background: var(--c-brand);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  figcaption {
    color: #fff;
    padding-top: 10px;
  }
}

.wp-figure-test .tr-img-wrap-outer {
  max-width: 100%;
}
