
{include tr_view_path('/layout/header')}

<div class="content">
{while have_posts()}
  {the_post()}
  
  <h1>{the_title()}</h1>
  <hr />
  {the_content()}

{/while}
</div>

{include tr_view_path('/layout/footer')}