.example-wrapper-block {
  --c-white: #fff;
  --c-silver: #cecece;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 20px;
  margin-bottom: 20px;

  .example-section-block {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
