<section class="sec-cta-test {$classMod}">
  <div class="container">
    <div class="sec-cta__content">
      <h2 n:ifcontent class="sec-title">{$title['text']}</h2>
      <p n:ifcontent>{$text['text']}</p>
        
      wysiwyg example
      <div n:ifcontent>{$content['text']|noescape}</div>

      <h3>{$number['value']}</h3>
      {tr_a($cta, 'btn btn--brand')}
    </div>{* content *}
  </div>{* cont *}
</section>