.hero-main {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 0 1px black;

  &__cont {
    padding-top: 100px;
    margin-bottom: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1,
  p {
    max-width: 700px;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
  }

  p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
