<section
  class="hero-main"
>
  <div class="hero-main__cont">
    <h1 n:ifcontent>{$title->text}</h1>
    <h1 n:ifcontent>{$title['text']}</h1>
    <p n:ifcontent>{$something}</p>
    <p n:ifcontent>{$something_else}</p>
    {tr_a($cta, "btn btn--brand")}
  </div>{* cont *}
</section>
