{include tr_view_path('/layout/header')}


<section class="content">
	<div class="container">
        {block content}
            <p>Default content if none is provided by the child template.</p>
        {/block}
	</div>
</section>


{include tr_view_path('/layout/footer')}