.editor-styles-wrapper {
  .tr-block__col {
    > *:not(:first-child) {
      margin-top: 10px;
    }
  }
  // grid
  .tr-block__row {
    display: grid;
    grid-gap: 15px;

    &.reverse {
      direction: rtl;

      .tr-block__col {
        direction: ltr;
      }
    }

    &--1-2 {
      grid-template-columns: 1fr 2fr;
    }

    &--2-1 {
      grid-template-columns: 2fr 1fr;
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--4 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
