<section class="section-title-subtitle {$classMod}">
  <div class="container {$inspector_block_margin}">
    <h2 n:ifcontent class="sec-title ivtr ivtr-btm">{$title['text']}</h2>
    <div n:ifcontent class="sec-subtitle ivtr ivtr-btm">{$text['text']|noescape}</div>
  </div>{* container *}
</section>