  <div><pre>{var_dump($test_rep_with_defaults)}</pre></div>
  
<div 
  n:if="!empty($breadcrumbs)"
  class="breadcrumbs"
  itemscope itemtype="https://schema.org/BreadcrumbList"
>

  {foreach $breadcrumbs as $breadcrumb}
    <pre>{var_dump($breadcrumb)}</pre>
  {/foreach}
</div>


{* TODO: Remove this block once implemented fields_grid for the repeater lvl1 component *}