  <div><pre>{var_dump($test_rep_with_defaults)}</pre></div>

<h1 class="margin-top: 100px;">Repeater Fields Grid</h1>


{* TODO: Remove this block once implemented fields_grid for the repeater lvl1 component *}